.desktopMenu_wrapper {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.25rem 2rem .25rem;
  background-color: rgba(var(--background-end-rgb), 0.75);
  border-radius: 50px;
  position: relative;
}

.otherThings {
  position: absolute;
  bottom: 100%;
  right: 1rem;
  opacity: 0;
  transition: opacity 0.3s;
  padding: .5rem
}

.otherThings.show {
  opacity: 1;
}

@media (max-width: 450px) {
  .desktopMenu_wrapper {
    padding: 3rem;
    flex-direction: row;
    gap: 3rem 6rem;
    align-items: flex-start;
    justify-content: flex-start;
    /* height: 80vh; */
  }
}