.desktopMenu_wrapper {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.25rem 2rem .25rem;
  max-width: 346px;
  background-color: rgba(var(--background-end-rgb), 0.75);
  border-radius: 50px;
  position: relative;
  transition: all .3s
}

.otherThings {
  position: absolute;
  bottom: 100%;
  right: 1rem;
  opacity: 0;
  transition: opacity 0.3s;
  padding: .5rem
}

.otherThings.show {
  opacity: 1;
}

@media (max-width: 450px) {
  .desktopMenu_wrapper {
    max-width: 450px;
    width: 100%;
    justify-content: space-around;
    border-radius: 0;
  }

  .otherThings {
    right: 0;
    width: 100%;
  }
}