.contact_form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 24px;

  padding: 16px;
}

.contact_form > * {
  border: 2px solid rgb(var(--foreground-rgb));
  border-radius: 5px;
  font-family: Montserrat;
}

.contact_form > input {
  height: 30px;
  padding: 16px;
}

.contact_form > textarea {
  height: 80px;
  padding: 12px 16px;
}

.contact_form > button {
  border: none;
  background-color: rgb(var(--foreground-rgb));
  color: rgb(var(--background-start-rgb));
  padding: 10px 20px;
  width: fit-content;
  cursor: pointer;
}
