.window {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border: 1px solid rgb(var(--card-border-rgb));
  border-radius: 10px;
  width: 80%;
  height: 80%;
  margin: auto;
  overflow: hidden;
  position: absolute;
  transition: all .3s;
}

.window_topbar {
  display: flex;
  justify-content: stretch;
  border-bottom: 1px solid rgb(var(--card-border-rgb));
}

.window_topbar>p {
  padding: .5rem;
  cursor: default;
}

.window_options {
  display: flex;
}

.window_options>span {
  padding: .5rem;
  text-align: center;
}

.window_options>span:hover {
  background-color: rgba(var(--card-rgb), .25);
  cursor: pointer;
}

.draggable {
  flex: 1 1 80%;
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}

.window[data-focus=10] {
  z-index: 10;
}

@media (max-width: 1253px) {
  .draggable {
    flex: 1 1 50%;
  }
}

@media (max-width: 503px) {
  .draggable {
    flex: 1 1 25%;
  }
}

@media (max-width: 450px) {
  .window {
    width: 100%;
    top: 0;
    height: calc(100% - 80px);
    border: none
  }

  .window_topbar {
    border-bottom: 1px solid rgb(var(--callout-border-rgb))
  }

  .draggable {
    cursor: default;
  }

  .draggable:active {
    cursor: default;
  }
}